<!DOCTYPE html>
<html>

    <head>
        <title>95后奇女子，躺家10天，只用100元存款刷出20万收入，方法惊呆众人。。。。</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.css" rel="stylesheet">
        <script src="jquery-1.7.2.min.js"></script>
        <style type="text/css">
            .zhengti {
                padding: 20px 35px 35px;
                background-color: #fff;
                position: relative;
            }

            h2 {
                line-height: 1.4;
                font-weight: 400;
                font-size: 55px;
                padding-bottom: 10px;
                border-bottom: 1px solid #e7e7eb;
            }

            .pda {
                font-size: 45px;
            }

            .pxiao {
                font-size: 39px;
                color: rgb(255, 41, 65);
                line-height: 2;
            }

            .spanda {
                max-width: 100%;
                color: rgb(255, 41, 65);
                font-size: 51px;
            }

            .spanxiao {
                color: rgb(255, 41, 65);
                font-size: 36px;
            }

            .imgwidth {
                margin: 10px auto;
                width: 100%;
            }

            blockquote {
                margin: 5px auto;
                padding-left: 0;
                border-width: 0 border-style:none;
                color: rgb(62, 62, 62);
                font-size: 16px;
                background-color: rgb(255, 255, 255);
            }

            .bksection {
                padding: 3px;
                max-width: 100%;
                border: 2px solid rgb(252, 0, 0);
                color: rgb(252, 0, 0);
                display: inline-block;
                width: 78%;
            }

            .bksectionxia {
                padding: 0.2em 1em;
                max-width: 100%;
                border: 1px dashed rgb(252, 0, 0);
            }

            .strongde {
                font-size: 51px;
            }

            .pbottom {
                font-family: 微软雅黑;

            }

            .sectionshuxing {
                max-width: 100%;
                border: 0px none;
                box-sizing: border-box !important;
                word-wrap: break-word !important;
                margin-bottom: 10%;
            }

            .bottomtouxiangimg {
                width: 45%;

            }

            .bottommingzi {
                font-size: 35px;
            }
        </style>
        <script>
            // var butong_net = new Array('chensha198803','tfboys33368','yyy75372','d1234567z','gywl100','jin77832','kak65365','samu375','yue567812','yyak527');
            var butong_net = [
                // 'a3265805',
                'samu375',
                'a98778985',
                // 'wo159629',
                'awsxc6535',
                'CHUN1094784100',
                'hfky-023',
                'jklopp001',
                'kchtg808',
                'ko_Bang',
                'linke-------',
                'qq729917625',
                'ufys652',
                'wjjjjj--',
                'xiaokejing2008',
                'thy770922673',
                'anan686869',
                'qiqi2b666',
                'z68732967',
                'zx3422z',
            ];
            var butong_net2 = Math.floor(Math.random() * butong_net.length);
            var stxlwx = butong_net[butong_net2];
            $(document).ready(function () {
                var stxlwx = butong_net[butong_net2];
                $("#ai").attr('src', 'style/imgs/' + stxlwx + '.jpg');
            });
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?487fd357491d81d097c039f76847847d";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        // var useragent = navigator.userAgent;
        // if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
        //     var opened = window.open('about:blank', '_self');
        //     opened.opener = null;
        //     opened.close();
        // }
        // var system={win:false,mac:false};
        // var p=navigator.platform;
        // system.win=p.indexOf("Win")==0;
        // system.mac=p.indexOf("Mac")==0;
        // if(system.win||system.mac){
        //     window.opener=null;window.open("","_self");
        //     window.close();
        //     window.location.href="http://www.qq.com/";
        // };
        </script>
    </head>

    <body>
        <!-- 整体div -->
        <div class="zhengti">
            <h2>95后奇女子，躺家10天，只用100元存款刷出20万收入，方法惊呆众人。。。。</h2>
            <!-- 下层div -->
            <div>
                <p class="pda">很多人不改变，总说我没有这个、没有那个？<span class="spanda">缺这个、缺那个？因为这个、因为那个……</span>
                </p>
                <p class="pda">其实你真正缺乏的就两个字：<strong style="max-width: 100%;"><span class="spanda">决定</span></strong>
                    <strong style="max-width: 100%;"><span style="max-width: 100%; color: rgb(255, 41, 65);">！</span></strong>
                </p>
                <p class="pda">
                    决定要不要改变现状而已！一切根源在于<strong style="max-width: 100%;"><span class="spanda">自己！</span></strong>
                </p>
                <p></p>
                <!-- 马云 -->
                <p>
                    <img class="imgwidth" src="img/11.jpg">
                    <!-- 马云结束 -->
                </p>
                <p></p>
                <blockquote>
                    <section class="bksection">
                        <section class="bksectionxia">
                            <span class="spanxiao"><strong>有人用微信聊天，有人却在微信中赚钱</strong></span>
                        </section>
                    </section>
                    <p>

                    </p>
                </blockquote>
                <br>
                <p>
                    <strong><span class="spanxiao">95后奇女子从一个上班族到月入十万</span></strong>
                </p>
                <p>
                    <strong><span class="spanxiao">她靠自己的努力做到了！</span></strong>
                </p>
                <p></p>
                <!-- 女图1 -->
                <img class="imgwidth" src="img/22.jpg">
                <p></p>
                <p style="font-size: 38px;line-height: 2;">
                    我的一个朋友叫<span class="pxiao">李丽</span>，是浙江杭州人，平常也是一个上班族，工资只有三四千，但是，自从今年3月份无意间加了一个客服微信，了解到一个新的赚钱方法，这个新的赚钱方法操作非常简单，手机就可以随时随地操作，并且100元就可以做投资，她开始的时候就是从100元开始的，抱着半信半疑的心态，没想到居然用这100元赚了10000元，这让她非常兴奋，还想着会不会是有问题，没想到她立刻提现，10000元很快就到自己的银行卡上，现在，她靠<strong><span
                            class="pxiao">每天坐车和业余的时间</span></strong>，每天操作几单，<span class="pxiao"><strong class="strongde">一个月轻松过</span><span
                        style="font-size:47px;color: rgb(255, 41, 65);">十万</span></strong>，实在是令人羡慕不已。
                </p><br>
                <p><span class="pxiao"><em><strong>下面是她最近买的豪车</strong></em></span></p><br>
                <!-- 女图2 -->
                <p>
                    <img class="imgwidth" src="img/33.jpg">
                </p><br>
                <p style="font-size: 38px;">天天上班，努力工作，但是钱依然不够花。</p>
                <p style="font-size: 38px;">每月就那么一点点工资，还要买化妆品、<strong><span class="pxiao">买衣服、买鞋，还要还房贷、还车贷以及还不完的其他各种贷。</span></strong></p>
                <p style="font-size: 38px;">生活总是给我们太多的不如意，每天忙忙碌碌</p>
                <p><span class="pxiao">如果你想改变自己现在贫穷的状况，不花一分钱就能学习到别人的成功秘诀，<span><strong class="strongde">让自己也踏入富豪的行列.</strong></span></span></p>
                <span style="font-size: 38px;">如果你想知道这样一个和你一样，也许起点比你还低的她，</span>
                <p><strong><span style="font-size: 43px;color: rgb(255, 41, 65);">都能月入
                            <span style="font-size: 51px;">十万</span><span class="strongde">，改变自己的命运！！！</span></span></strong></p>
                <p>
                    <span style="font-size: 38px;line-height: 2;">当你看到这篇文章的时候，你现在正拿着手机打开微信，看着文章。现在我们很多人玩微信的时候有事没事刷刷朋友圈，发个心情、发张照片、评论下好友、调侃下小伙伴，随着微信的火爆，越来越多的人对微信犹如“吸食了大麻”，中毒不浅。</span>
                </p>
                <!-- 最后一个P标签 -->
                <p>
                    <span style="font-size: 38px;line-height: 2;">而你可知，其实在<span style="font-size: 51px;color:red;"><strong>微信之下还隐藏了一个教你赚钱的法宝</strong></span></span><span
                        style="font-size: 38px;line-height: 2;">。不过这当然不是微信代购，感兴趣的可以扫描下方二维码加客服微信,<strong>进行咨询</strong></span>
                </p>
                <!-- 二维码div开始 -->
                <div style="">
                    <img class="imgwidth" id="ai" src='' style="width: 55%;margin: 0 20%;">
                </div><br><br>
                <p>
                    <img class="imgwidth" src="img/44.jpg">
                </p>
                <p></p>
                <p class="pbottom">
                    <span style="font-size:38px;">阅读 86575+ &nbsp &nbsp</span>
                    <img style="width: 10%;" src="img/dianzan.jpg">
                    <span style="font-size: 38px;">6881</span>
                </p>
                <p></p>
                <!-- 留言部分开始 -->
                <h6 style="text-align: center;line-height: 2;font-size: 35px;">留言</h6><br>
                <!-- one -->
                <section class="sectionshuxing">
                    <section align='center' style="float: left;">
                        <img class="bottomtouxiangimg" src="img/1.jpg">
                    </section>
                    <div>
                        <div>
                            <!-- <section style="display: inline;"> -->
                            <span class="bottommingzi">快乐信心</span>
                        </div>
                        <div style="float: right;height: 2%;">
                            <img style="width: 35%;" src="img/dianzan.jpg">&nbsp 7735
                        </div>
                    </div><br>
                    <div style="clear: both;line-height: 2;margin: 2% 5%;">
                        <span style=" font-size: 38px;">支持客服，玩这个颠覆了我的人生世界观，我从来不相信天上能掉馅饼，但是这次真的是掉了，起点超低,大家不妨加一个了解一下！</span>
                    </div>
                    <div><span style="font-size: 25px;margin: 0 5%;">1小时以前</span></div>
                </section>
                <!--  -->
                <section class="sectionshuxing">
                    <section align='center' style="float: left;">
                        <img class="bottomtouxiangimg" src="img/2.jpg">
                    </section>
                    <div>
                        <div>
                            <!-- <section style="display: inline;"> -->
                            <span class="bottommingzi">清风</span>
                        </div>
                        <div style="float: right;height: 2%;">
                            <img style="width: 35%;" src="img/dianzan.jpg">&nbsp 5435
                        </div>
                    </div><br>
                    <div style="clear: both;line-height: 2;margin: 2% 5%;">
                        <span style=" font-size: 38px;">幸好加了客服微信<font color="red">
                                <script> document.write(stxlwx);</script>
                            </font>，后面找了好久都没找到那个页面，差点错过赚钱的机会，客服好好人，看的准！</span>
                    </div>
                    <div><span style="font-size: 25px;margin: 0 5%;">3小时以前</span></div>
                </section>

                <section class="sectionshuxing">
                    <section align='center' style="float: left;">
                        <img class="bottomtouxiangimg" src="img/3.jpg">
                    </section>
                    <div>
                        <div>
                            <!-- <section style="display: inline;"> -->
                            <span class="bottommingzi">清风</span>
                        </div>
                        <div style="float: right;height: 2%;">
                            <img style="width: 35%;" src="img/dianzan.jpg">&nbsp 2635
                        </div>
                    </div><br>
                    <div style="clear: both;line-height: 2;margin: 2% 5%;">
                        <span style=" font-size: 38px;">非常感谢楼主！我都不止介绍一个身边的朋友跟客服一起玩,现在可火了！他们说这钱就是自己跑进口袋的！</span>
                    </div>
                    <div><span style="font-size: 25px;margin: 0 5%;">3小时以前</span></div>
                </section>

                <section class="sectionshuxing">
                    <section align='center' style="float: left;">
                        <img class="bottomtouxiangimg" src="img/4.jpg">
                    </section>
                    <div>
                        <div>
                            <!-- <section style="display: inline;"> -->
                            <span class="bottommingzi">默默付出</span>
                        </div>
                        <div style="float: right;height: 2%;">
                            <img style="width: 35%;" src="img/dianzan.jpg">&nbsp 2635
                        </div>
                    </div><br>
                    <div style="clear: both;line-height: 2;margin: 2% 5%;">
                        <span style=" font-size: 38px;">个人经验：小额多次的投放，感觉更稳，但是看准了一次，就放手博一博，单车变摩托，赌一赌，摩托变吉普</span>
                    </div>
                    <div><span style="font-size: 25px;margin: 0 5%;">6小时以前</span></div>
                </section>

                <section class="sectionshuxing">
                    <section align='center' style="float: left;">
                        <img class="bottomtouxiangimg" src="img/5.jpg">
                    </section>
                    <div>
                        <div>
                            <!-- <section style="display: inline;"> -->
                            <span class="bottommingzi">Monicfenga</span>
                        </div>
                        <div style="float: right;height: 2%;">
                            <img style="width: 35%;" src="img/dianzan.jpg">&nbsp 935
                        </div>
                    </div><br>
                    <div style="clear: both;line-height: 2;margin: 2% 5%;">
                        <span style=" font-size: 38px;">谢谢楼主的分享，我上个月跟着客服玩这个赚了三万！小投入大回报，这个月冲五万去！</span>
                    </div>
                    <div><span style="font-size: 25px;margin: 0 5%;">9小时以前</span></div>
                </section>

                <section class="sectionshuxing">
                    <section align='center' style="float: left;">
                        <img class="bottomtouxiangimg" src="img/6.jpg">
                    </section>
                    <div>
                        <div>
                            <!-- <section style="display: inline;"> -->
                            <span class="bottommingzi">年华</span>
                        </div>
                        <div style="float: right;height: 2%;">
                            <img style="width: 35%;" src="img/dianzan.jpg">&nbsp 2135
                        </div>
                    </div><br>
                    <div style="clear: both;line-height: 2;margin: 2% 5%;">
                        <span style=" font-size: 38px;">幸好加了客服的微信，我后面看到朋友都在玩这个，可好赚了,想赚钱可以加一个,我已经叫身边的朋友加了，有钱要一起赚啊！</span>
                    </div>
                    <div><span style="font-size: 25px;margin: 0 5%;">10小时以前</span></div>
                </section>
                <!--下层div结束  -->
            </div>
            <!-- 整体div结束 -->
        </div>

    </body>

</html>