<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login in ok</title>
</head>
<body>
    
    {% extends "index.html" %}

    {% block header %}
        <h1>
        {{header}}
        </h1>
    {% endblock %}


    {% block body %}
        <div>
            <h3> {{body}} </h3>
            <p>我的网页只有ｂｏｄｙ需要修改。</p>
        </div>
    {% endblock %} 
</body>
</html>