<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>

    <div>
        {% block header %}
            <h3> 风火雷电 </h3>
        {% endblock %}
        {% block body %}
            <div> １２３</div>
        {% endblock %}
        {% block footer %}
            <div>copyright</div>
        {% endblock %}
    </div>

    </body>
</html>